<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#读取数据" data-toc-modified-id="读取数据-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>读取数据</a></span></li><li><span><a href="#处理缺失值" data-toc-modified-id="处理缺失值-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>处理缺失值</a></span><ul class="toc-item"><li><span><a href="#什么是缺失值" data-toc-modified-id="什么是缺失值-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>什么是缺失值</a></span></li><li><span><a href="#寻找空值数据" data-toc-modified-id="寻找空值数据-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>寻找空值数据</a></span></li><li><span><a href="#掩码提取空值" data-toc-modified-id="掩码提取空值-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>掩码提取空值</a></span></li><li><span><a href="#统计空缺值" data-toc-modified-id="统计空缺值-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>统计空缺值</a></span></li><li><span><a href="#丢弃缺失值" data-toc-modified-id="丢弃缺失值-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>丢弃缺失值</a></span></li><li><span><a href="#填充缺失值" data-toc-modified-id="填充缺失值-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>填充缺失值</a></span><ul class="toc-item"><li><span><a href="#固定值填充" data-toc-modified-id="固定值填充-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>固定值填充</a></span></li><li><span><a href="#上下文填充" data-toc-modified-id="上下文填充-2.6.2"><span class="toc-item-num">2.6.2&nbsp;&nbsp;</span>上下文填充</a></span></li></ul></li></ul></li></ul></div>

In [2]:
import numpy as np
import pandas as pd

## 读取数据

## 处理缺失值

### 什么是缺失值

在了解缺失值（也叫控制）如何处理之前，首先要知道的就是什么是缺失值？直观上理解，缺失值表示的是“缺失的数据”。

可以思考一个问题：是什么原因造成的缺失值呢？其实有很多原因，实际生活中可能由于有的数据不全所以导致数据缺失，也有可能由于误操作导致数据缺失，又或者人为地造成数据缺失。

下面我们人为的造成一些数据缺失

In [3]:
grade  = pd.read_csv('student_grade_empty.txt',sep='\t')
grade

     姓名     语文     数学     英语     总分   班名次
0    杨璐  131.0  143.0  144.0  418.0   1.0
1    王雪  131.0  135.0  144.0  410.0   2.0
2   韩林霖  127.0  139.0  142.0  408.0   3.0
3   沙龙逸    NaN  148.0  136.0  407.0   4.0
4   李鉴学    NaN  135.0  140.0  401.0   5.0
..  ...    ...    ...    ...    ...   ...
63   赵森   90.0   29.0   64.0  183.0  64.0
64  满朝升   78.0   45.0   47.0  170.0  65.0
65  李忠浩   86.0   32.0   46.0  164.0  66.0
66  侯禹志   75.0   23.0   34.0  132.0  67.0
67  尹鸿涛   66.0   23.0   34.0  123.0  68.0

[68 rows x 6 columns]

对空缺值的处理:

1. 查看和统计
2. 处理:删除
3. 处理:填充

### 寻找空值数据

这些缺失值，可以使用 isnull() 或 notnull()方法来操作。

In [4]:
grade.isnull()

       姓名     语文     数学     英语     总分    班名次
0   False  False  False  False  False  False
1   False  False  False  False  False  False
2   False  False  False  False  False  False
3   False   True  False  False  False  False
4   False   True  False  False  False  False
..    ...    ...    ...    ...    ...    ...
63  False  False  False  False  False  False
64  False  False  False  False  False  False
65  False  False  False  False  False  False
66  False  False  False  False  False  False
67  False  False  False  False  False  False

[68 rows x 6 columns]

In [5]:
grade.notnull()

      姓名     语文    数学    英语    总分   班名次
0   True   True  True  True  True  True
1   True   True  True  True  True  True
2   True   True  True  True  True  True
3   True  False  True  True  True  True
4   True  False  True  True  True  True
..   ...    ...   ...   ...   ...   ...
63  True   True  True  True  True  True
64  True   True  True  True  True  True
65  True   True  True  True  True  True
66  True   True  True  True  True  True
67  True   True  True  True  True  True

[68 rows x 6 columns]

### 掩码提取空值

In [8]:
# 提取出有空值的行
grade[grade.数学.isnull()]

     姓名     语文  数学  英语     总分   班名次
9   林世博    NaN NaN NaN  387.0  10.0
41  张俊奎  103.0 NaN NaN  317.0  42.0

In [10]:
# 反过来提取非空行
grade[grade.数学.notnull()]

     姓名     语文     数学     英语     总分   班名次
0    杨璐  131.0  143.0  144.0  418.0   1.0
1    王雪  131.0  135.0  144.0  410.0   2.0
2   韩林霖  127.0  139.0  142.0  408.0   3.0
3   沙龙逸    NaN  148.0  136.0  407.0   4.0
4   李鉴学    NaN  135.0  140.0  401.0   5.0
..  ...    ...    ...    ...    ...   ...
63   赵森   90.0   29.0   64.0  183.0  64.0
64  满朝升   78.0   45.0   47.0  170.0  65.0
65  李忠浩   86.0   32.0   46.0  164.0  66.0
66  侯禹志   75.0   23.0   34.0  132.0  67.0
67  尹鸿涛   66.0   23.0   34.0  123.0  68.0

[66 rows x 6 columns]

### 统计空缺值

In [11]:
grade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 6 columns):
姓名     66 non-null object
语文     59 non-null float64
数学     66 non-null float64
英语     63 non-null float64
总分     63 non-null float64
班名次    67 non-null float64
dtypes: float64(5), object(1)
memory usage: 3.3+ KB

In [13]:
# 有几个True就代表有几个空值, 布尔当做数学运算, False,自动当做0 ,True自动当做1
grade.isnull().sum()

姓名     2
语文     9
数学     2
英语     5
总分     5
班名次    1
dtype: int64

### 丢弃缺失值

既然有缺失值了，常见的一种处理办法就是丢弃缺失值。使用 dropna 方法可以丢弃缺失值。

```python
user_info.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
```

Seriese 使用 dropna 比较简单，对于 DataFrame 来说，可以设置更多的参数。

axis 参数用于控制行或列，跟其他不一样的是，axis=0 （默认）表示操作行，axis=1 表示操作列。

how 参数可选的值为 any（默认） 或者 all。any 表示一行/列有任意元素为空时即丢弃，all 一行/列所有值都为空时才丢弃。

subset 参数表示删除时只考虑的索引或列名。

thresh参数的类型为整数，它的作用是，比如 thresh=3，会在一行/列中至少有 3 个非空值时将其保留。

In [17]:
# 只要一行数据,有空值存在,则删除掉
grade.dropna()

      姓名     语文     数学     英语     总分   班名次
0     杨璐  131.0  143.0  144.0  418.0   1.0
1     王雪  131.0  135.0  144.0  410.0   2.0
2    韩林霖  127.0  139.0  142.0  408.0   3.0
5    韩雨萌  129.0  133.0  138.0  400.0   6.0
6     刘帅  116.0  143.0  140.0  399.0   7.0
7    康惠雯  114.0  142.0  139.0  395.0   8.0
8    刘钰婷  115.0  139.0  135.0  389.0   9.0
13   卢一凡  121.0  123.0  139.0  383.0  14.0
14   张瑞鑫  126.0  115.0  139.0  380.0  15.0
16   裴子翔  111.0  139.0  128.0  378.0  17.0
17   武传禹  119.0  129.0  130.0  378.0  18.0
18   任雪桐  124.0  108.0  144.0  376.0  19.0
19    刘姗  124.0  128.0  122.0  374.0  20.0
20   王柏坤  121.0  123.0  128.0  372.0  21.0
22  张馨月大  114.0  124.0  122.0  360.0  23.0
23   张曦月  116.0  123.0  119.0  358.0  24.0
24   胡丁文  116.0  122.0  118.0  356.0  25.0
25   赵美欣  118.0  126.0  111.0  355.0  26.0
28    李季  114.0  117.0  118.0  349.0  29.0
29   杨加晖  110.0  102.0  136.0  348.0  30.0
31   张智凯  110.0  117.0  119.0  346.0  32.0
32   张晓爽  113.0  113.0  119.0  345.0  33.0
35   贺俊文  103.0  127.0  110.0  340.0  36.0
36  张馨月小  108.0  110.0  119.0  337.0  37.0
37   代诗涵  105.0  105.0  126.0  336.0  38.0
38    艾宇  115.0  111.0  106.0  332.0  39.0
39   黄俊焯  101.0  112.0  106.0  319.0  40.0
40   邹建志   98.0  104.0  116.0  318.0  41.0
44   王春月  118.0   82.0  112.0  312.0  45.0
45   代明哲  101.0   91.0  115.0  307.0  46.0
46   张开羽  112.0   90.0  104.0  306.0  47.0
47   狄建译  109.0   68.0  126.0  303.0  48.0
49    郭娜   94.0   98.0  104.0  296.0  50.0
50    周坤  107.0   76.0  104.0  287.0  51.0
51    洪禹  106.0  100.0   80.0  286.0  52.0
52   王治超  105.0   95.0   82.0  282.0  53.0
53   臧云飞  101.0   59.0  108.0  268.0  54.0
54   袁茂哲   85.0   95.0   85.0  265.0  55.0
55   丁婉艺   95.0   71.0   85.0  251.0  56.0
56   于娇莹   97.0   76.0   71.0  244.0  57.0
57   刘旭辉   99.0   87.0   44.0  230.0  58.0
58   张宇婷   83.0   61.0   71.0  215.0  59.0
59   黄明涛   87.0   77.0   43.0  207.0  60.0
60   吕文卓   82.0   53.0   62.0  197.0  61.0
61   王晟煜   79.0   49.0   64.0  192.0  62.0
62   孙龙基   99.0   21.0   67.0  187.0  63.0
63    赵森   90.0   29.0   64.0  183.0  64.0
64   满朝升   78.0   45.0   47.0  170.0  65.0
65   李忠浩   86.0   32.0   46.0  164.0  66.0
66   侯禹志   75.0   23.0   34.0  132.0  67.0
67   尹鸿涛   66.0   23.0   34.0  123.0  68.0

In [21]:
grade[grade.姓名.isnull()]

     姓名     语文     数学     英语     总分   班名次
33  NaN  117.0  121.0  106.0  344.0  34.0
34  NaN  112.0  105.0  126.0  343.0  35.0

In [22]:
# 如果姓名为空就删除
grade.dropna(subset=['姓名'])

     姓名     语文     数学     英语     总分   班名次
0    杨璐  131.0  143.0  144.0  418.0   1.0
1    王雪  131.0  135.0  144.0  410.0   2.0
2   韩林霖  127.0  139.0  142.0  408.0   3.0
3   沙龙逸    NaN  148.0  136.0  407.0   4.0
4   李鉴学    NaN  135.0  140.0  401.0   5.0
..  ...    ...    ...    ...    ...   ...
63   赵森   90.0   29.0   64.0  183.0  64.0
64  满朝升   78.0   45.0   47.0  170.0  65.0
65  李忠浩   86.0   32.0   46.0  164.0  66.0
66  侯禹志   75.0   23.0   34.0  132.0  67.0
67  尹鸿涛   66.0   23.0   34.0  123.0  68.0

[66 rows x 6 columns]

In [23]:
# 三列有空值就删除
grade.dropna(subset=['语文','数学','英语'])

      姓名     语文     数学     英语     总分   班名次
0     杨璐  131.0  143.0  144.0  418.0   1.0
1     王雪  131.0  135.0  144.0  410.0   2.0
2    韩林霖  127.0  139.0  142.0  408.0   3.0
5    韩雨萌  129.0  133.0  138.0  400.0   6.0
6     刘帅  116.0  143.0  140.0  399.0   7.0
7    康惠雯  114.0  142.0  139.0  395.0   8.0
8    刘钰婷  115.0  139.0  135.0  389.0   9.0
13   卢一凡  121.0  123.0  139.0  383.0  14.0
14   张瑞鑫  126.0  115.0  139.0  380.0  15.0
16   裴子翔  111.0  139.0  128.0  378.0  17.0
17   武传禹  119.0  129.0  130.0  378.0  18.0
18   任雪桐  124.0  108.0  144.0  376.0  19.0
19    刘姗  124.0  128.0  122.0  374.0  20.0
20   王柏坤  121.0  123.0  128.0  372.0  21.0
22  张馨月大  114.0  124.0  122.0  360.0  23.0
23   张曦月  116.0  123.0  119.0  358.0  24.0
24   胡丁文  116.0  122.0  118.0  356.0  25.0
25   赵美欣  118.0  126.0  111.0  355.0  26.0
28    李季  114.0  117.0  118.0  349.0  29.0
29   杨加晖  110.0  102.0  136.0  348.0  30.0
31   张智凯  110.0  117.0  119.0  346.0  32.0
32   张晓爽  113.0  113.0  119.0  345.0  33.0
33   NaN  117.0  121.0  106.0  344.0  34.0
34   NaN  112.0  105.0  126.0  343.0  35.0
35   贺俊文  103.0  127.0  110.0  340.0  36.0
36  张馨月小  108.0  110.0  119.0  337.0  37.0
37   代诗涵  105.0  105.0  126.0  336.0  38.0
38    艾宇  115.0  111.0  106.0  332.0  39.0
39   黄俊焯  101.0  112.0  106.0  319.0  40.0
40   邹建志   98.0  104.0  116.0  318.0  41.0
42    孙波   96.0  130.0   89.0    NaN  43.0
43    张良  105.0  102.0  105.0    NaN  44.0
44   王春月  118.0   82.0  112.0  312.0  45.0
45   代明哲  101.0   91.0  115.0  307.0  46.0
46   张开羽  112.0   90.0  104.0  306.0  47.0
47   狄建译  109.0   68.0  126.0  303.0  48.0
48   张家硕  107.0   67.0  129.0    NaN  49.0
49    郭娜   94.0   98.0  104.0  296.0  50.0
50    周坤  107.0   76.0  104.0  287.0  51.0
51    洪禹  106.0  100.0   80.0  286.0  52.0
52   王治超  105.0   95.0   82.0  282.0  53.0
53   臧云飞  101.0   59.0  108.0  268.0  54.0
54   袁茂哲   85.0   95.0   85.0  265.0  55.0
55   丁婉艺   95.0   71.0   85.0  251.0  56.0
56   于娇莹   97.0   76.0   71.0  244.0  57.0
57   刘旭辉   99.0   87.0   44.0  230.0  58.0
58   张宇婷   83.0   61.0   71.0  215.0  59.0
59   黄明涛   87.0   77.0   43.0  207.0  60.0
60   吕文卓   82.0   53.0   62.0  197.0  61.0
61   王晟煜   79.0   49.0   64.0  192.0  62.0
62   孙龙基   99.0   21.0   67.0  187.0  63.0
63    赵森   90.0   29.0   64.0  183.0  64.0
64   满朝升   78.0   45.0   47.0  170.0  65.0
65   李忠浩   86.0   32.0   46.0  164.0  66.0
66   侯禹志   75.0   23.0   34.0  132.0  67.0
67   尹鸿涛   66.0   23.0   34.0  123.0  68.0

In [41]:
grade.dropna(thresh=5) # 一行数据必须有5个以上有效值,才能够保留

     姓名     语文     数学     英语     总分   班名次
0    杨璐  131.0  143.0  144.0  418.0   1.0
1    王雪  131.0  135.0  144.0  410.0   2.0
2   韩林霖  127.0  139.0  142.0  408.0   3.0
3   沙龙逸    NaN  148.0  136.0  407.0   4.0
4   李鉴学    NaN  135.0  140.0  401.0   5.0
..  ...    ...    ...    ...    ...   ...
63   赵森   90.0   29.0   64.0  183.0  64.0
64  满朝升   78.0   45.0   47.0  170.0  65.0
65  李忠浩   86.0   32.0   46.0  164.0  66.0
66  侯禹志   75.0   23.0   34.0  132.0  67.0
67  尹鸿涛   66.0   23.0   34.0  123.0  68.0

[64 rows x 6 columns]

In [48]:
grade.dropna(thresh=6)

      姓名     语文     数学     英语     总分   班名次
0     杨璐  131.0  143.0  144.0  418.0   1.0
1     王雪  131.0  135.0  144.0  410.0   2.0
2    韩林霖  127.0  139.0  142.0  408.0   3.0
5    韩雨萌  129.0  133.0  138.0  400.0   6.0
6     刘帅  116.0  143.0  140.0  399.0   7.0
7    康惠雯  114.0  142.0  139.0  395.0   8.0
8    刘钰婷  115.0  139.0  135.0  389.0   9.0
13   卢一凡  121.0  123.0  139.0  383.0  14.0
14   张瑞鑫  126.0  115.0  139.0  380.0  15.0
16   裴子翔  111.0  139.0  128.0  378.0  17.0
17   武传禹  119.0  129.0  130.0  378.0  18.0
18   任雪桐  124.0  108.0  144.0  376.0  19.0
19    刘姗  124.0  128.0  122.0  374.0  20.0
20   王柏坤  121.0  123.0  128.0  372.0  21.0
22  张馨月大  114.0  124.0  122.0  360.0  23.0
23   张曦月  116.0  123.0  119.0  358.0  24.0
24   胡丁文  116.0  122.0  118.0  356.0  25.0
25   赵美欣  118.0  126.0  111.0  355.0  26.0
28    李季  114.0  117.0  118.0  349.0  29.0
29   杨加晖  110.0  102.0  136.0  348.0  30.0
31   张智凯  110.0  117.0  119.0  346.0  32.0
32   张晓爽  113.0  113.0  119.0  345.0  33.0
35   贺俊文  103.0  127.0  110.0  340.0  36.0
36  张馨月小  108.0  110.0  119.0  337.0  37.0
37   代诗涵  105.0  105.0  126.0  336.0  38.0
38    艾宇  115.0  111.0  106.0  332.0  39.0
39   黄俊焯  101.0  112.0  106.0  319.0  40.0
40   邹建志   98.0  104.0  116.0  318.0  41.0
44   王春月  118.0   82.0  112.0  312.0  45.0
45   代明哲  101.0   91.0  115.0  307.0  46.0
46   张开羽  112.0   90.0  104.0  306.0  47.0
47   狄建译  109.0   68.0  126.0  303.0  48.0
49    郭娜   94.0   98.0  104.0  296.0  50.0
50    周坤  107.0   76.0  104.0  287.0  51.0
51    洪禹  106.0  100.0   80.0  286.0  52.0
52   王治超  105.0   95.0   82.0  282.0  53.0
53   臧云飞  101.0   59.0  108.0  268.0  54.0
54   袁茂哲   85.0   95.0   85.0  265.0  55.0
55   丁婉艺   95.0   71.0   85.0  251.0  56.0
56   于娇莹   97.0   76.0   71.0  244.0  57.0
57   刘旭辉   99.0   87.0   44.0  230.0  58.0
58   张宇婷   83.0   61.0   71.0  215.0  59.0
59   黄明涛   87.0   77.0   43.0  207.0  60.0
60   吕文卓   82.0   53.0   62.0  197.0  61.0
61   王晟煜   79.0   49.0   64.0  192.0  62.0
62   孙龙基   99.0   21.0   67.0  187.0  63.0
63    赵森   90.0   29.0   64.0  183.0  64.0
64   满朝升   78.0   45.0   47.0  170.0  65.0
65   李忠浩   86.0   32.0   46.0  164.0  66.0
66   侯禹志   75.0   23.0   34.0  132.0  67.0
67   尹鸿涛   66.0   23.0   34.0  123.0  68.0

In [51]:
# 判断,如果一列数据当中,有效值不足50%,则删除掉

# 生成空值
grade.loc[30: , '总分'] = np.nan

In [53]:
grade.isnull().sum()

姓名      2
语文      9
数学      2
英语      5
总分     40
班名次     1
dtype: int64

In [60]:
# 不足50%的 总分列被删除掉
grade.dropna(axis=1 ,  thresh= grade.shape[0] * 0.5)

     姓名     语文     数学     英语   班名次
0    杨璐  131.0  143.0  144.0   1.0
1    王雪  131.0  135.0  144.0   2.0
2   韩林霖  127.0  139.0  142.0   3.0
3   沙龙逸    NaN  148.0  136.0   4.0
4   李鉴学    NaN  135.0  140.0   5.0
..  ...    ...    ...    ...   ...
63   赵森   90.0   29.0   64.0  64.0
64  满朝升   78.0   45.0   47.0  65.0
65  李忠浩   86.0   32.0   46.0  66.0
66  侯禹志   75.0   23.0   34.0  67.0
67  尹鸿涛   66.0   23.0   34.0  68.0

[68 rows x 5 columns]

In [61]:
grade.shape[0]

68

In [62]:
grade.shape[1]

6

In [32]:
grade.isnull().sum(axis = 1)

0     0
1     0
2     0
3     1
4     1
     ..
63    0
64    0
65    0
66    0
67    0
Length: 68, dtype: int64

In [33]:
# 只有不为空就保留 
grade.isnull().sum(axis = 1).astype('bool')

0     False
1     False
2     False
3      True
4      True
      ...
63    False
64    False
65    False
66    False
67    False
Length: 68, dtype: bool

In [35]:
# 三列有空值的提取
grade[grade.语文.isnull() | grade.数学.isnull() | grade.英语.isnull() ]

     姓名     语文     数学     英语     总分   班名次
3   沙龙逸    NaN  148.0  136.0  407.0   4.0
4   李鉴学    NaN  135.0  140.0  401.0   5.0
9   林世博    NaN    NaN    NaN  387.0  10.0
10   张希    NaN  130.0  134.0  387.0  11.0
11   徐冲    NaN  124.0    NaN    NaN   NaN
12  苑宇飞    NaN  136.0  131.0  385.0  13.0
15  范作鑫  121.0  127.0    NaN    NaN  16.0
21  赵永刚  116.0  131.0    NaN  369.0  22.0
26  赵殿宇    NaN  109.0  130.0  351.0  27.0
27  张智文    NaN  116.0  125.0  350.0  28.0
30   何旭    NaN  113.0  120.0  347.0  31.0
41  张俊奎  103.0    NaN    NaN  317.0  42.0

In [34]:
grade[grade.isnull().sum(axis = 1).astype('bool')]

     姓名     语文     数学     英语     总分   班名次
3   沙龙逸    NaN  148.0  136.0  407.0   4.0
4   李鉴学    NaN  135.0  140.0  401.0   5.0
9   林世博    NaN    NaN    NaN  387.0  10.0
10   张希    NaN  130.0  134.0  387.0  11.0
11   徐冲    NaN  124.0    NaN    NaN   NaN
12  苑宇飞    NaN  136.0  131.0  385.0  13.0
15  范作鑫  121.0  127.0    NaN    NaN  16.0
21  赵永刚  116.0  131.0    NaN  369.0  22.0
26  赵殿宇    NaN  109.0  130.0  351.0  27.0
27  张智文    NaN  116.0  125.0  350.0  28.0
30   何旭    NaN  113.0  120.0  347.0  31.0
33  NaN  117.0  121.0  106.0  344.0  34.0
34  NaN  112.0  105.0  126.0  343.0  35.0
41  张俊奎  103.0    NaN    NaN  317.0  42.0
42   孙波   96.0  130.0   89.0    NaN  43.0
43   张良  105.0  102.0  105.0    NaN  44.0
48  张家硕  107.0   67.0  129.0    NaN  49.0

In [10]:
grade.dropna()

      姓名     语文     数学     英语     总分   班名次
0     杨璐  131.0  143.0  144.0  418.0   1.0
1     王雪  131.0  135.0  144.0  410.0   2.0
2    韩林霖  127.0  139.0  142.0  408.0   3.0
5    韩雨萌  129.0  133.0  138.0  400.0   6.0
6     刘帅  116.0  143.0  140.0  399.0   7.0
7    康惠雯  114.0  142.0  139.0  395.0   8.0
8    刘钰婷  115.0  139.0  135.0  389.0   9.0
13   卢一凡  121.0  123.0  139.0  383.0  14.0
14   张瑞鑫  126.0  115.0  139.0  380.0  15.0
16   裴子翔  111.0  139.0  128.0  378.0  17.0
17   武传禹  119.0  129.0  130.0  378.0  18.0
18   任雪桐  124.0  108.0  144.0  376.0  19.0
19    刘姗  124.0  128.0  122.0  374.0  20.0
20   王柏坤  121.0  123.0  128.0  372.0  21.0
22  张馨月大  114.0  124.0  122.0  360.0  23.0
23   张曦月  116.0  123.0  119.0  358.0  24.0
24   胡丁文  116.0  122.0  118.0  356.0  25.0
25   赵美欣  118.0  126.0  111.0  355.0  26.0
28    李季  114.0  117.0  118.0  349.0  29.0
29   杨加晖  110.0  102.0  136.0  348.0  30.0
31   张智凯  110.0  117.0  119.0  346.0  32.0
32   张晓爽  113.0  113.0  119.0  345.0  33.0
35   贺俊文  103.0  127.0  110.0  340.0  36.0
36  张馨月小  108.0  110.0  119.0  337.0  37.0
37   代诗涵  105.0  105.0  126.0  336.0  38.0
38    艾宇  115.0  111.0  106.0  332.0  39.0
39   黄俊焯  101.0  112.0  106.0  319.0  40.0
40   邹建志   98.0  104.0  116.0  318.0  41.0
44   王春月  118.0   82.0  112.0  312.0  45.0
45   代明哲  101.0   91.0  115.0  307.0  46.0
46   张开羽  112.0   90.0  104.0  306.0  47.0
47   狄建译  109.0   68.0  126.0  303.0  48.0
49    郭娜   94.0   98.0  104.0  296.0  50.0
50    周坤  107.0   76.0  104.0  287.0  51.0
51    洪禹  106.0  100.0   80.0  286.0  52.0
52   王治超  105.0   95.0   82.0  282.0  53.0
53   臧云飞  101.0   59.0  108.0  268.0  54.0
54   袁茂哲   85.0   95.0   85.0  265.0  55.0
55   丁婉艺   95.0   71.0   85.0  251.0  56.0
56   于娇莹   97.0   76.0   71.0  244.0  57.0
57   刘旭辉   99.0   87.0   44.0  230.0  58.0
58   张宇婷   83.0   61.0   71.0  215.0  59.0
59   黄明涛   87.0   77.0   43.0  207.0  60.0
60   吕文卓   82.0   53.0   62.0  197.0  61.0
61   王晟煜   79.0   49.0   64.0  192.0  62.0
62   孙龙基   99.0   21.0   67.0  187.0  63.0
63    赵森   90.0   29.0   64.0  183.0  64.0
64   满朝升   78.0   45.0   47.0  170.0  65.0
65   李忠浩   86.0   32.0   46.0  164.0  66.0
66   侯禹志   75.0   23.0   34.0  132.0  67.0
67   尹鸿涛   66.0   23.0   34.0  123.0  68.0

In [13]:
grade.dropna().shape

(51, 6)

### 填充缺失值

除了可以丢弃缺失值外，也可以填充缺失值，最常见的是使用 fillna 完成填充。

fillna 这名字一看就是用来填充缺失值的。

#### 固定值填充

填充缺失值时，常见的一种方式是使用一个标量来填充。例如，这里我样有缺失的年龄都填充为 0。

可以支持DataFrame填充
也可以支持Series填充

In [65]:
# value=None,直接用某一个值填充
grade.fillna(0).head(50)

      姓名     语文     数学     英语     总分   班名次
0     杨璐  131.0  143.0  144.0  418.0   1.0
1     王雪  131.0  135.0  144.0  410.0   2.0
2    韩林霖  127.0  139.0  142.0  408.0   3.0
3    沙龙逸    0.0  148.0  136.0  407.0   4.0
4    李鉴学    0.0  135.0  140.0  401.0   5.0
5    韩雨萌  129.0  133.0  138.0  400.0   6.0
6     刘帅  116.0  143.0  140.0  399.0   7.0
7    康惠雯  114.0  142.0  139.0  395.0   8.0
8    刘钰婷  115.0  139.0  135.0  389.0   9.0
9    林世博    0.0    0.0    0.0  387.0  10.0
10    张希    0.0  130.0  134.0  387.0  11.0
11    徐冲    0.0  124.0    0.0    0.0   0.0
12   苑宇飞    0.0  136.0  131.0  385.0  13.0
13   卢一凡  121.0  123.0  139.0  383.0  14.0
14   张瑞鑫  126.0  115.0  139.0  380.0  15.0
15   范作鑫  121.0  127.0    0.0    0.0  16.0
16   裴子翔  111.0  139.0  128.0  378.0  17.0
17   武传禹  119.0  129.0  130.0  378.0  18.0
18   任雪桐  124.0  108.0  144.0  376.0  19.0
19    刘姗  124.0  128.0  122.0  374.0  20.0
20   王柏坤  121.0  123.0  128.0  372.0  21.0
21   赵永刚  116.0  131.0    0.0  369.0  22.0
22  张馨月大  114.0  124.0  122.0  360.0  23.0
23   张曦月  116.0  123.0  119.0  358.0  24.0
24   胡丁文  116.0  122.0  118.0  356.0  25.0
25   赵美欣  118.0  126.0  111.0  355.0  26.0
26   赵殿宇    0.0  109.0  130.0  351.0  27.0
27   张智文    0.0  116.0  125.0  350.0  28.0
28    李季  114.0  117.0  118.0  349.0  29.0
29   杨加晖  110.0  102.0  136.0  348.0  30.0
30    何旭    0.0  113.0  120.0    0.0  31.0
31   张智凯  110.0  117.0  119.0    0.0  32.0
32   张晓爽  113.0  113.0  119.0    0.0  33.0
33     0  117.0  121.0  106.0    0.0  34.0
34     0  112.0  105.0  126.0    0.0  35.0
35   贺俊文  103.0  127.0  110.0    0.0  36.0
36  张馨月小  108.0  110.0  119.0    0.0  37.0
37   代诗涵  105.0  105.0  126.0    0.0  38.0
38    艾宇  115.0  111.0  106.0    0.0  39.0
39   黄俊焯  101.0  112.0  106.0    0.0  40.0
40   邹建志   98.0  104.0  116.0    0.0  41.0
41   张俊奎  103.0    0.0    0.0    0.0  42.0
42    孙波   96.0  130.0   89.0    0.0  43.0
43    张良  105.0  102.0  105.0    0.0  44.0
44   王春月  118.0   82.0  112.0    0.0  45.0
45   代明哲  101.0   91.0  115.0    0.0  46.0
46   张开羽  112.0   90.0  104.0    0.0  47.0
47   狄建译  109.0   68.0  126.0    0.0  48.0
48   张家硕  107.0   67.0  129.0    0.0  49.0
49    郭娜   94.0   98.0  104.0    0.0  50.0

In [67]:
# 采用语文的均值填充
grade.语文.fillna( grade.语文.mean() )

0     131.000000
1     131.000000
2     127.000000
3     106.457627
4     106.457627
         ...
63     90.000000
64     78.000000
65     86.000000
66     75.000000
67     66.000000
Name: 语文, Length: 68, dtype: float64

In [68]:
# 采用语文的中位数填充
grade.语文.fillna( grade.语文.median(), )

0     131.0
1     131.0
2     127.0
3     109.0
4     109.0
      ...
63     90.0
64     78.0
65     86.0
66     75.0
67     66.0
Name: 语文, Length: 68, dtype: float64

In [70]:
grade.语文.median()

109.0

In [72]:
# 众数
grade.语文.mode()[0]
grade.语文.fillna( grade.语文.mode()[0] )

0     131.0
1     131.0
2     127.0
3     116.0
4     116.0
      ...
63     90.0
64     78.0
65     86.0
66     75.0
67     66.0
Name: 语文, Length: 68, dtype: float64

In [74]:
grade[['语文','数学','英语']]

       语文     数学     英语
0   131.0  143.0  144.0
1   131.0  135.0  144.0
2   127.0  139.0  142.0
3     NaN  148.0  136.0
4     NaN  135.0  140.0
..    ...    ...    ...
63   90.0   29.0   64.0
64   78.0   45.0   47.0
65   86.0   32.0   46.0
66   75.0   23.0   34.0
67   66.0   23.0   34.0

[68 rows x 3 columns]

In [76]:
# 三列都采用中位数进行填充
for name in grade[['语文','数学','英语']]:
    print(name) # 得到的是列名
    grade[name].fillna( grade[name].median(), inplace=True)

语文
数学
英语

In [77]:
# 三列都采用中位数进行填充
for name in ['语文','数学','英语']:
    print(name) # 得到的是列名
    grade[name].fillna( grade[name].median(), inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 6 columns):
姓名     66 non-null object
语文     68 non-null float64
数学     68 non-null float64
英语     68 non-null float64
总分     28 non-null float64
班名次    67 non-null float64
dtypes: float64(5), object(1)
memory usage: 3.3+ KB

#### 上下文填充

除了可以使用标量来填充之外，还可以使用前一个或后一个有效值来填充。

设置参数 method='pad' 或 method='ffill' 可以使用前一个有效值来填充。

In [78]:
grade  = pd.read_csv('student_grade_empty.txt',sep='\t')
grade

     姓名     语文     数学     英语     总分   班名次
0    杨璐  131.0  143.0  144.0  418.0   1.0
1    王雪  131.0  135.0  144.0  410.0   2.0
2   韩林霖  127.0  139.0  142.0  408.0   3.0
3   沙龙逸    NaN  148.0  136.0  407.0   4.0
4   李鉴学    NaN  135.0  140.0  401.0   5.0
..  ...    ...    ...    ...    ...   ...
63   赵森   90.0   29.0   64.0  183.0  64.0
64  满朝升   78.0   45.0   47.0  170.0  65.0
65  李忠浩   86.0   32.0   46.0  164.0  66.0
66  侯禹志   75.0   23.0   34.0  132.0  67.0
67  尹鸿涛   66.0   23.0   34.0  123.0  68.0

[68 rows x 6 columns]

In [90]:
grade[grade.语文.isnull()]

     姓名  语文     数学     英语     总分   班名次
3   沙龙逸 NaN  148.0  136.0  407.0   4.0
4   李鉴学 NaN  135.0  140.0  401.0   5.0
9   林世博 NaN    NaN    NaN  387.0  10.0
10   张希 NaN  130.0  134.0  387.0  11.0
11   徐冲 NaN  124.0    NaN    NaN   NaN
12  苑宇飞 NaN  136.0  131.0  385.0  13.0
26  赵殿宇 NaN  109.0  130.0  351.0  27.0
27  张智文 NaN  116.0  125.0  350.0  28.0
30   何旭 NaN  113.0  120.0  347.0  31.0

In [91]:
np.random.randint(1,100,9)

array([19, 10, 34, 98, 76, 32, 49, 19, 43])

In [82]:
grade.语文.fillna(method='ffill')# 上面一个有效值填充

0     131.0
1     131.0
2     127.0
3     127.0
4     127.0
      ...
63     90.0
64     78.0
65     86.0
66     75.0
67     66.0
Name: 语文, Length: 68, dtype: float64

In [85]:
grade.语文.fillna(method='bfill',).head(10)# 下面一个有效值填充

0    131.0
1    131.0
2    127.0
3    129.0
4    129.0
5    129.0
6    116.0
7    114.0
8    115.0
9    121.0
Name: 语文, dtype: float64

In [81]:
grade.head(50)

      姓名     语文     数学     英语     总分   班名次
0     杨璐  131.0  143.0  144.0  418.0   1.0
1     王雪  131.0  135.0  144.0  410.0   2.0
2    韩林霖  127.0  139.0  142.0  408.0   3.0
3    沙龙逸    NaN  148.0  136.0  407.0   4.0
4    李鉴学    NaN  135.0  140.0  401.0   5.0
5    韩雨萌  129.0  133.0  138.0  400.0   6.0
6     刘帅  116.0  143.0  140.0  399.0   7.0
7    康惠雯  114.0  142.0  139.0  395.0   8.0
8    刘钰婷  115.0  139.0  135.0  389.0   9.0
9    林世博    NaN    NaN    NaN  387.0  10.0
10    张希    NaN  130.0  134.0  387.0  11.0
11    徐冲    NaN  124.0    NaN    NaN   NaN
12   苑宇飞    NaN  136.0  131.0  385.0  13.0
13   卢一凡  121.0  123.0  139.0  383.0  14.0
14   张瑞鑫  126.0  115.0  139.0  380.0  15.0
15   范作鑫  121.0  127.0    NaN    NaN  16.0
16   裴子翔  111.0  139.0  128.0  378.0  17.0
17   武传禹  119.0  129.0  130.0  378.0  18.0
18   任雪桐  124.0  108.0  144.0  376.0  19.0
19    刘姗  124.0  128.0  122.0  374.0  20.0
20   王柏坤  121.0  123.0  128.0  372.0  21.0
21   赵永刚  116.0  131.0    NaN  369.0  22.0
22  张馨月大  114.0  124.0  122.0  360.0  23.0
23   张曦月  116.0  123.0  119.0  358.0  24.0
24   胡丁文  116.0  122.0  118.0  356.0  25.0
25   赵美欣  118.0  126.0  111.0  355.0  26.0
26   赵殿宇    NaN  109.0  130.0  351.0  27.0
27   张智文    NaN  116.0  125.0  350.0  28.0
28    李季  114.0  117.0  118.0  349.0  29.0
29   杨加晖  110.0  102.0  136.0  348.0  30.0
30    何旭    NaN  113.0  120.0  347.0  31.0
31   张智凯  110.0  117.0  119.0  346.0  32.0
32   张晓爽  113.0  113.0  119.0  345.0  33.0
33   NaN  117.0  121.0  106.0  344.0  34.0
34   NaN  112.0  105.0  126.0  343.0  35.0
35   贺俊文  103.0  127.0  110.0  340.0  36.0
36  张馨月小  108.0  110.0  119.0  337.0  37.0
37   代诗涵  105.0  105.0  126.0  336.0  38.0
38    艾宇  115.0  111.0  106.0  332.0  39.0
39   黄俊焯  101.0  112.0  106.0  319.0  40.0
40   邹建志   98.0  104.0  116.0  318.0  41.0
41   张俊奎  103.0    NaN    NaN  317.0  42.0
42    孙波   96.0  130.0   89.0    NaN  43.0
43    张良  105.0  102.0  105.0    NaN  44.0
44   王春月  118.0   82.0  112.0  312.0  45.0
45   代明哲  101.0   91.0  115.0  307.0  46.0
46   张开羽  112.0   90.0  104.0  306.0  47.0
47   狄建译  109.0   68.0  126.0  303.0  48.0
48   张家硕  107.0   67.0  129.0    NaN  49.0
49    郭娜   94.0   98.0  104.0  296.0  50.0

设置参数 method='bfill' 或 method='backfill' 可以使用后一个有效值来填充。

除了通过 fillna 方法来填充缺失值外，还可以通过 interpolate 方法来填充。默认情况下使用线性差值，可以是设置 method 参数来改变方式。

In [89]:
grade.interpolate().head(10) # 线性插值填充

    姓名          语文     数学     英语     总分   班名次
0   杨璐  131.000000  143.0  144.0  418.0   1.0
1   王雪  131.000000  135.0  144.0  410.0   2.0
2  韩林霖  127.000000  139.0  142.0  408.0   3.0
3  沙龙逸  127.666667  148.0  136.0  407.0   4.0
4  李鉴学  128.333333  135.0  140.0  401.0   5.0
5  韩雨萌  129.000000  133.0  138.0  400.0   6.0
6   刘帅  116.000000  143.0  140.0  399.0   7.0
7  康惠雯  114.000000  142.0  139.0  395.0   8.0
8  刘钰婷  115.000000  139.0  135.0  389.0   9.0
9  林世博  116.200000  134.5  134.5  387.0  10.0