In [6]:
import numpy as np
import pandas as pd
import matplotlib as plt

file=open("C:\\Users\\有福有德\\Desktop\\上海统计分析python20190715\\data\\短期绩效.csv")
#pd.read_csv(file,skiprows=lambda x:x%2!=0)#x%2!=0遇偶提取，x%2!=1遇奇提取
#pd.read_csv(file,sep=",")#sep=","分隔符。,header=None表示表头没有变量，默认将第一行视为变量
pd.read_csv(file,header=None,names=['x1','x2','x3','x4','x5','x6','x7','x8','x9','x10'])#自定义变量
#pd.read_csv(file,skiprows=[1,2,3,9])#跳过对应的行编号

# chunker=pd.read_csv(file,chunksize=6)#每隔6行分成一组
# for m in chunker:    
#     print(m)

        x1    x2    x3    x4  x5    x6   x7    x8    x9   x10
 10.0  1.0   6.0   6.0   9.0 NaN   NaN  NaN   NaN   NaN   NaN
 11.0  0.0   7.0  10.0   7.0 NaN   NaN  NaN   NaN   NaN   NaN
 12.0  0.0  11.0   7.0   8.0 NaN   NaN  NaN   NaN   NaN   NaN
 13.0  0.0  12.0   6.0  11.0 NaN   NaN  NaN   NaN   NaN   NaN
 14.0  0.0   8.0  10.0   8.0 NaN   NaN  NaN   NaN   NaN   NaN
 15.0  0.0  21.0  22.0  24.0 NaN   NaN  NaN   NaN   NaN   NaN
 16.0  1.0  16.0  11.0   9.0 NaN   NaN  NaN   NaN   NaN   NaN
NaN    NaN   NaN   NaN   NaN NaN   NaN  NaN   NaN   NaN   NaN
NaN    NaN   NaN   NaN   NaN NaN   NaN  NaN   NaN   NaN   NaN
NaN    NaN   NaN   NaN   NaN NaN   NaN  NaN   NaN   NaN   NaN
NaN    NaN   NaN   NaN   NaN NaN  10.0  1.0   6.0   6.0   9.0
NaN    NaN   NaN   NaN   NaN NaN  11.0  0.0   7.0  10.0   7.0
NaN    NaN   NaN   NaN   NaN NaN  12.0  0.0  11.0   7.0   8.0
NaN    NaN   NaN   NaN   NaN NaN  13.0  0.0  12.0   6.0  11.0
NaN    NaN   NaN   NaN   NaN NaN  14.0  0.0   8.0  10.0   8.0
NaN    NaN   NaN   NaN   NaN NaN  15.0  0.0  21.0  22.0  24.0
NaN    NaN   NaN   NaN   NaN NaN  16.0  1.0  16.0  11.0   9.0

In [14]:
file=open("C:\\Users\\有福有德\\Desktop\\上海统计分析python20190715\\data\\短期绩效.csv")
pd.read_csv(file,usecols=[6,7,8,9,10],header=None,skiprows=10)#提取需要的列
#pd.read_csv(file,usecols=[0,2,3,6],header=None,skiprows=3)#skiprows从编号为多少id开始读入数据
#pd.read_csv(file,skipfooter=50)#skipfooter跳过尾部50行，然后读入数据
#pd.read_csv(file,nrows=10)#读入前10行

   6   7   8   9   10
0  10   1   6   6   9
1  11   0   7  10   7
2  12   0  11   7   8
3  13   0  12   6  11
4  14   0   8  10   8
5  15   0  21  22  24
6  16   1  16  11   9